*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #F2F2F2;
}

.nav{
width: 100%;
height: 70px ;

background: #FFFFFF;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav img{
    margin-left: 200px;
}


.content{
    width: 513px;
    height: 585px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.content h3{
    text-align: center;
    padding: 40px;
    font-size: 30px;
}

#txt1{

 
    width: 340px;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

#txt2{
    width: 340px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background: #6FDA44;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}


#txt2::placeholder{
    color: white;
    text-align: center;
    font-size: 15px;
}





/* Horizental Line */

h4 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid gray; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h4 span { 
     background:#F2F2F2; 
     padding:0 10px; 
     color: gray;
 }

 #txt3{

    width: 340px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background: #4285F4;
    color: white;
    outline: none;
    border: none;
cursor: pointer;
 }

 #txt3::placeholder{
color: white;
text-align: center;
font-size: 15px;

 }
 #txt4{
     
    width: 340px;
    height: 40px;
    padding: 10px;
    margin: 10px;
border-radius: 5px;
cursor: pointer;
outline: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#txt4::placeholder{
    text-align: center;
    font-size: 16px;
}

button{
    padding: 10px;
    width: 220px;
    height: 40px;
    background: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    outline: none;
}

button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}


h5{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid gray; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin-top: 80px;
 } 
 
 h5 span { 
     background:#F2F2F2; 
     padding:0 10px; 
     color: gray;
    
 }


 .foot{
     margin-top: 20px;
    width: 100%;
    height: 70px ;
    
    background: #1D4354;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    

    .foot p{
        color: white;
        text-align: center;
       line-height: 20px;
    }